/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');



body{
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background:rgb(25, 26, 25);
    padding: 1rem 0;
}

a{
    color:rgb(188, 211, 58);
    text-decoration: none;
}

a.logo{
    font-weight: bold;

}

nav{
    float:right;
    
}
ul{
    list-style-type: none;
    margin: 0;
    display: flex;
}

li a {
    padding: 1em;
}
li a:hover {
        background: grey;
    }
 h1 {
        margin-top: 2em;
     }